{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}
    
{% block main %}

    <h1>This is College Consolidator.</h1>
    <h6>"Your application process just got a 100x more simple. We're putting all your college resources in one place."</h6>
    <hr>
    
    
    <h2>Meet the Team!</h2>
    
    <h3>Ariana Soto</h3>
    <h4>Year: Class of 2020</h4>
    <h4>Dorm: Canaday</h4>
    <h4>Concentration: Exploring!</h4>
    
    
    
    <h3>Emma Ling</h3>
    <h4>Year: Class of 2020</h4>
    <h4>Dorm: Wigglesworth</h4>
    <h4>Concentration: Also Exploring!</h4>
        
    
{% endblock %}