{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <div class="jumbotron">
  <h1>College Consolidator</h1>
  <p>Making your application process just a little easier! College Consolidator is the most effective way to complete all of your applications.</p>
  <p><a class="btn btn-primary btn-lg">College Map</a></p>
</div>

<a href="#" class="btn btn-primary btn-lg">Large button</a>
<a href="#" class="btn btn-primary btn-lg">Large button</a>
<a href="#" class="btn btn-primary btn-lg">Large button</a>
<a href="#" class="btn btn-primary btn-lg">Large button</a>
<a href="#" class="btn btn-primary btn-lg">Large button</a>


{% endblock %}