{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <div class="jumbotron">
  <h1>College Consolidator</h1>
  <p><a href="{{ url_for('map') }}" class="btn btn-primary btn-lg">College Map</a></p>
</div>

<a href="http://www.commonapp.org/" class="btn btn-primary btn-lg">Common Application</a>
<a href="https://admissions.universityofcalifornia.edu/applicant/login.htm" class="btn btn-primary btn-lg">UC Application</a>
<a href="http://www.act.org/content/act/en/products-and-services/the-act.html" class="btn btn-primary btn-lg">ACT</a>
<a href="https://collegereadiness.collegeboard.org/sat" class="btn btn-primary btn-lg">SAT</a>
<a href="https://fafsa.ed.gov/" class="btn btn-primary btn-lg">FAFSA</a>

<div>
    <a href="https://www.collegeboard.org/" class="btn btn-primary btn-lg">College Board</a>
    <a href="https://www.naviance.com/" class="btn btn-primary btn-lg">Naviance</a>
    <a href="https://colleges.niche.com/?degree=4-year&sort=best" class="btn btn-primary btn-lg">College Niche</a>
    <a href="http://www.collegeconfidential.com/" class="btn btn-primary btn-lg">College Confidential</a>
    <a href="https://apstudent.collegeboard.org/home" class="btn btn-primary btn-lg">AP Exams</a></a>
    
</div>

<div class="well well-sm">
  contact: collegeconsolidator@gmail.com
</div>

  
{% endblock %}