{% extends "layout.html" %}

{% block title %} Map {% endblock %}

{% block head %}

    <!-- https://developers.google.com/maps/documentation/javascript/ -->
    <!--<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>-->
    
    <script src="https://maps.googleapis.com/maps/api/js?key={{ key | urlencode }}&v=3.exp"></script>
    <!--<script async defer 
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyABS1s5mEvlbYuMmyRU6ITmXx8A9DfP9MI&callback=initMap">
     </script>-->

     <!-- app's own JavaScript -->
    <script src="{{ url_for('static', filename='map_scripts.js') }}"></script>
    <style>
      #map-canvas {
        height: 500px;
        width: 100%;
       }
    </style>
  {% endblock %}
  {% block main %}
    <h3>Where will you be?

    </h3>
      <form id="form">
        <div class="form-group">
          <label class="sr-only" for="q">City, State, Postal Code</label>
          <input class="form-control" id="q" placeholder="City, State, Postal Code" type="text"/>
        </div>
      </form>
    <div id="map-canvas"></div>
{% endblock %}
