{% extends "layout.html" %}

{% block title %}
    My Colleges
{% endblock %}

{% block main %}
    <table class="sortable">
        <thead>
            <th>College</th>
            <th>Admission Rate (%)</th>
            <th>Average SAT (CR + M)</th>
            <th>Average ACT (Composite)</th>
            <th>Location</th>
        </thead>
        {% for college in colleges -%}
        <tr>
            <th style="text-align: left"><a href=http://{{college.url}} target="_blank">{{ college.name }}</a></th>
            <th>{{ college.adrate * 100 }}</th>
            <th>{{ college.SAT }}</th>
            <th>{{ college.ACT }}</th>
            <th>{{ college.location }}</th>
        </tr>
        {%- endfor %}
    </table>
{% endblock %}